<div class="num1">
    <input type="text" placeholder="Write it down" [(ngModel)]="phrase">
    <p>{{phrase}}</p>
    <br>
    <button class="btn" type="button" (click)="AddHello()">Hello</button>
</div>

<p>===============================================================================================================</p>
<div>
    <input type="text" placeholder="Enter Name" [(ngModel)]="name">

    <div *ngIf="!NameValid" style="background-color: red; width: 70%; height: 15px;">
        Not Valid Name & Length &gt;= 3
    </div>

    <input type="number" placeholder="Enter Age" [(ngModel)]="age">
    <div *ngIf="age<18 && age!=0" style="background-color: red; width: 30%; height: 15px;">
        Not Valid
    </div>
    <input type="button" value="Add" (click)="AddNewPerson()">

</div>

<h2>Person</h2>
<table id="customers">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let p of persons; index as i">
            <td>{{i+1}}</td>
            <td>{{p.name}}</td>
            <td>{{p.age}}</td>
        </tr>
    </tbody>
</table>