<ul>
  <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="">Home</a></li>
  <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="students">Student</a></li>
  <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="students/6">Student-Details</a></li>
  <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="about">About</a></li>
  <li><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="hdghjg">Error</a></li>
</ul>

<router-outlet></router-outlet>