<div class="container">
    <div class="card m-auto" style="max-width: 70%; margin-top: 100px !important; border-radius: 30px">
        <div class="row-registration">
            <div class="row g-0">
                <div class="col-md-4 d-none d-sm-block">
                    <img class="img1" alt="Tailor" />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h3 class="card-title"><b>Sign Up</b></h3>
                        <form>
                            <div class="form-row mt-4">
                                <div class="mb-4">
                                    <input #fname name="fname" type="text" placeholder="First Name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="mb-4">
                                    <input #lname name="lname" type="text" placeholder="Last Name" class="form-control" />
                                </div>
                            </div>
                            <div class="mb-4">
                                <input type="email" class="form-control" placeholder="Email address" id="exampleInputEmail1" aria-describedby="emailHelp" />
                            </div>
                            <div class="mb-4">
                                <input type="password" class="form-control" placeholder="********" id="exampleInputPassword1" />
                            </div>
                            <input type="button" class="btn1 btn btn-dark" value="Sign Up" (click)="AddNewUser(fname.value, lname.value)" />
                        </form>
                        <p class="card-text">
                            Already have an account?
                            <a href="#"> <strong>Log In</strong></a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>